<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TaJMahal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>223151E62D8B747900AD19F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223151F62D8B747A00AD19F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223152002D8B747A00AD19F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
